/* Code comment style */
.mtk3 {
  font-family: "Fira Code", monospace !important;
  color: #008c7d !important;
}

/* Code canvas top shadow */
.monaco-editor .scroll-decoration {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75) !important;
  top: -6px !important;
}

/* Match Text */
.currentFindMatchInline {
  background: #000 !important;
}

/* Side bar */
.part.sidebar {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

/* File Explorer Selected Item */
.monaco-list.list_id_1 .monaco-list-row.selected {
  background-color: #4f5971 !important;
  opacity: 1 !important;
  border-top: 1px #727b90 solid;
  border-bottom: 1px #727b90 solid;
}

/* Hide the ">" chevron icon */
.codicon-tree-item-expanded:before {
  display: none !important;
}

/* List item label name */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
  color: #fff !important;
  opacity: 1 !important;
}

/* File explorer action buttons */
.monaco-workbench .part.sidebar .title-actions .actions-container {
  display: none;
}

/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row,
.monaco-icon-label .label-name {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #fff !important;
}
.explorer-item-edited {
  font-size: 14px !important;
}

/* Sidebar top shadow */
.monaco-scrollable-element > .shadow.top {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75) !important;
  top: -3px !important;
}

/* Sidebar title */
.composite.title {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-items: center !important;
}
.composite.title h2 {
  font-weight: bold !important;
  font-size: 12px !important;
  text-transform: uppercase;
  color: #bc9abc !important;
}

/* Scroll Bar */
.slider {
  position: absolute !important;
  right: 1px !important;
  width: 1px !important;
  background: #bc9abc !important;
  left: auto !important;
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.45) !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 16px !important;
  border: none !important;
  outline: 0 !important;
}
.monaco-resizable-hover {
  border: none !important;
}

/* Project title's style at the top. */
.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center {
  border: none !important;
  background: transparent !important;
}

/* Project Title */
.titlebar-left {
  justify-content: flex-end !important;
  flex-grow: 0 !important;
  width: 75px !important;
}

/* Search Label */
.search-label {
  font-size: 14px !important;
  color: #fff;
  display: block;
}

/* Search icon */
.search-icon {
  display: none !important;
}
.codicon-search::before {
  display: none !important;
}
.codicon-arrow-right,
.codicon-arrow-left {
  display: none !important;
}
.titlebar-right > * {
  display: none !important;
}
.command-center-center {
  width: auto !important;
}

/* Command Palette */
.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35) !important;
  padding: 10px 10px 18px 10px !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 20px !important;
}
.quick-input-list,
.quick-input-list .list_id_6 {
  min-height: 400px !important;
}

/* Remove background for lists */
.monaco-list-rows {
  background: transparent !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
  border-radius: 12px !important;
  padding: 16px !important;
  border: none !important;
  font-size: 16px !important;
  margin-bottom: 16px !important;
}

#command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

/* Container that holds the VS Code home icon. */
.editor-group-watermark {
  max-width: none !important;
}
.letterpress {
  background-image: url("") !important;
  background-repeat: no-repeat no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
  width: 60% !important;
}
